h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

section {
    background: white;
    padding: 2rem;
    height: 100%;
    width: 30%;
}

li {
    margin-bottom: 0.75rem;
}

#orders ul, #messages ul {
    border: black solid 0.1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

em {
    font-weight: bold;
}


main {
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto 0 auto;
}

body {
    background: white;
}
